  <footer id="footer">
    Copyright &copy 2022 <a href="/">Mahrus Sayid</a>
  </footer>
  <script src="/javascripts/swiper-bundle.min.js"></script>
  <script src="/javascripts/main.js"></script>
  </body>
</html>